#jogo {
	width: 618px;
	height: 618px;
	background-image: url("img/CAPAAAA.jpg");
}
#capa {
	width: 618px;
	height: 618px;
	background-image: url("img/CAPAAAA.jpg");
}

.casa {
	/*background-image: url('img/0.jpg');*/
	border: 3px solid;
	width: 200px;
	height: 200px;
	float: left;
}

#casa1{
	width: 200px;
	height: 200px;
	background-image: url(img/a1.jpg);
}
#casa2{
	width: 200px;
	height: 200px;
	background-image: url(img/a2.jpg);
}
#casa3{
	width: 200px;
	height: 200px;
	background-image: url(img/a3.jpg);
}
#casa4{
	width: 200px;
	height: 200px;
	background-image: url(img/b1.jpg);
}
#casa5{
	width: 200px;
	height: 200px;
	background-image: url(img/b2.jpg);
}
#casa6{
	width: 200px;
	height: 200px;
	background-image: url(img/b3.jpg);
}
#casa7{
	width: 200px;
	height: 200px;
	background-image: url(img/c1.jpg);
}
#casa8{
	width: 200px;
	height: 200px;
	background-image: url(img/c2.jpg);
}
#casa9{
	width: 200px;
	height: 200px;
	background-image: url(img/c3.jpg);
}
  